:root {
    --butter100: #F7F2EC;
    --butter200: #F2E9DE;
    --butter300: #CABDB1;
    --butter500: #A99074;
    --butter700: #625343;
    --gray900: #2B2B2B;
    --black: #000000;
    --blue500: #4221d1;
    --blue500: #2d21d1;
    --purple500: #7321d1;
    --green300: #B5D8C4;

    --border1: 12px;
}

body{
    background-color: var(--butter200);
    background-image:
      linear-gradient(var(--butter300) 2px, transparent 2px),
      linear-gradient(90deg, var(--butter300) 2px, transparent 2px);
    background-size: 40px 40px;
    background-position: 20px 20px; /* offsets grid from top/left */
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

h1{
    text-transform: uppercase;
    color: var(--blue500);
    font-weight: 900;
}

h2{
    text-transform: uppercase;
    color: var(--blue500);
    font-weight: 900;
    margin-top:0;
}
h3{

}
h4{
    margin-top: 0;
}

.urlBar{
    width: calc(100% - 4rem);
    margin: 2rem;
    background: var(--butter100);
    border: 2px solid var(--butter700);
    text-align:center;
    border-radius: var(--border1);
    box-shadow: 0 6px 16px var(--butter500);
    position: relative;
}

.urlBar::before{
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    background-color: var(--butter500);
    border: 2px solid var(--butter700);
    z-index: -1;
    border-radius: var(--border1);
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start; /* VERY important for sticky */
    margin: 32px;
  }

  @media (min-width: 900px) {
    .container{
        grid-template-columns: 240px 1fr;
    }
}
  
  /* Sticky nav */
nav {
    position: sticky;
    top: 0;
    height: fit-content; /* prevents stretching */
    padding: 1rem;
}

nav ul{
    padding:0;
    margin:0;
    display: grid;
    gap: 0px 32px;

    align-items: start; /* VERY important for sticky */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: stretch; 
}

@media (min-width: 900px) {
    nav ul{
        /* align-items: start; /* VERY important for sticky */
    grid-template-columns: 1fr;
    }
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav ul li a{
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    background: var(--butter100);
    border: 2px solid var(--butter700);
    text-align:center;
    border-radius: var(--border1);
    box-shadow: 0 3px 8px var(--butter500);
    position: relative;
    text-decoration: none;
    font-weight: 900;
    color: var(--gray900);
}
nav ul li a:hover{
    background: var(--butter200);
}
nav ul li a:active{
    background: var(--butter300);
}
nav ul li a:before{
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    background-color: var(--butter500);
    border: 2px solid var(--butter700);
    z-index: -1;
    border-radius: var(--border1);
}
  
  /* Main content */
  main {
    padding: 2rem;
    padding-top:0;
  }

  main section > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    align-items: start; /* VERY important for sticky */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    align-items: stretch; 

    gap: 16px;
    margin-bottom: 32px;
  }
  

  main section > ul > li {
    padding: 16px;
    border-radius: var(--border1);
    border: 2px solid var(--butter700);
    background: var(--butter200);
  }